<template name="inviteActors">
	{{> header currentPage="Invite Actors"}}

	<div class="bottom-buffer">
		<button id="inviteActorsBtn" class="btn btn-success"><i class="fa fa-send"></i> Send Invitations</button>

		{{#if isAdmin}}
		<a class="btn btn-default pull-right" href="{{pathFor 'adminScenario'}}">
			Scenario Details <i class="fa fa-angle-double-right"></i>
		</a>
		<a class="btn btn-default pull-right right-buffer" href="{{pathFor 'alternatives'}}">
			<i class="fa fa-angle-double-left"></i> Add Alternatives
		</a>
		{{else}}
		<a class="btn btn-default pull-right" href="{{pathFor 'alternatives'}}">
			<i class="fa fa-angle-double-left"></i> Add Alternatives
		</a>
		{{/if}}
	</div>

	{{#if actorList}}
	<table class="table table-bordered table-striped table-hover top-buffer">
		<thead>
		<tr>
			<th></th>
			<th>Actor</th>
		</tr>
		</thead>
		<tbody>
		{{#each actorList}}
			{{>actorRow}}
		{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="no-data">
			There's no more users to invite
		</div>
	{{/if}}
</template>

<template name="actorRow">
	<tr class="actorRow">
		<td width="30px">
			<input type="checkbox" class="actorId" value="{{_id}}"/>
		</td>
		<td>{{username}}</td>
	</tr>
</template>