body {
  padding-top: 35px;
  color: #5B5B5B;
}

h2 {
  font-size: 27px !important;
}

h3, .h3 {
  font-size: 21px;
}

#logo-img {
  background: url("images/sps_logo.png") no-repeat;
  background-size: 35px;
  height: 35px;
  width: 35px;
  float: left;
  margin: -8px 7px 0 0;
}

.navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #343947 !important;
}

.dropdown-toggle {
  color: #9d9d9d !important;
  background-color: transparent !important;
  padding: 15px;
  display: block;
  position: relative;
  line-height: 20px;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  color: #fff !important;
  background-color: transparent;
  text-decoration: none;
}

#login-other-options a:focus, #login-other-options a:hover {
  text-decoration: none !important;
}

.navbar-inverse {
  background-color: #343947 !important;
}

.page-header-sps {
  margin-top: 25px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.footer {
  margin-bottom: 150px;
}

.btn-default {
  color: #5B5B5B !important;
}

.btn-action-sps {
  padding: 3px 10px;
}

.table > thead > tr > th {
  font-size: 14px !important;
  padding: 4px 10px !important;
  font-weight: 400 !important;
}

.table > tbody > tr > td {
  font-size: 13px !important;
  padding: 4px 10px !important;
}

.join-scenario, .leave-scenario {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.scenario-disabled {
  cursor: not-allowed;
}

.scenario-name {
  cursor: pointer;
  cursor: hand;
}

.scenario-name:hover {
  color: #337ab7;
}

.active-scenario {
  color: #F02C35;
}

.legend-active-scenario {
  margin-top: 4px;
  color: #666;
  font-style: italic;
  text-align: right;
}

.page-header-sps .col-md-10, .page-header-sps .col-md-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.back-next-btn {
  margin-top: 25px;
}

.modal-open {
  padding-right: 0 !important;
}

.top-buffer {
  margin-top: 10px;
}

.bottom-buffer {
  margin-bottom: 15px;
}

.no-data {
  font-size: 16px;
  margin-top: 40px;
  font-style: italic;
  text-align: center;
}

.right-buffer {
  margin-right: 5px;
}

#inviteActors .table {
  width: 400px !important;
}

.modal-body {
  padding: 15px 30px 10px;
}

.modal-header {
  padding: 0 15px 7px;
}

.modal-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.btn:focus {
  outline: none !important;
}

.btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-success {
  background-color: #26a69a !important;
  border-color: #26a69a !important;
}

.btn-success:hover, .btn-success.focus, .btn-success:active, .open > .dropdown-toggle.btn-success {
  background-color: #2bbbad !important;
  border-color: #2bbbad !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn-join {
  color: #ffffff;
  background-color: #61ba9e;
  border-color: #4fb393;
}

.btn-join:hover, .btn-join:focus, .btn-join:active, .btn-join.active, .open > .dropdown-toggle.btn-join {
  color: #ffffff;
  background-color: #46a285;
  border-color: #3b8970;
}

#connectivity-matrix, #probability-matrix {
  font-size: 12px;
  overflow: auto;
}

.highcharts-container > svg {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.highcharts-title {
  color: #5B5B5B !important;
  fill: #5B5B5B !important;
}

.highcharts-xaxis-labels > text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 11px !important;
}

.highcharts-data-labels > g > text > tspan {
  text-shadow: rgb(0, 0, 0) 0px 0px 2px, rgb(0, 0, 0) 0px 0px 2px !important;
}

.top-buffer-medium {
  margin-top: 30px;
}

.switcher-separator {
  margin-right: 15px;
}

#toast-container > div {
  opacity: 0.95 !important;
}

.toast-message, .toast-title {
  font-size: 13px !important;
}

.toast-title {
  margin-bottom: 5px;
}

.modal-header .close {
  margin-top: 9px !important;
}

.handsontable.handsontableEditor.listbox {
  background-color: #ffffff;
  width: 32px !important;
  height: 65px !important;
}