<template name="objectivesAccordion">
	<div class="collapse" id="collapseObjectives">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>Objective</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
			</thead>
			<tbody>
			{{#each objectivesList}}
				<tr class="objectiveRow">
					<td class="col-md-1">Obj{{index}}</td>
					<td class="col-md-4">{{name}}</td>
					<td class="col-md-7">{{description}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="alternativesAccordion">
	<div class="collapse top-buffer" id="collapseAlternatives">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>Alternative</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
			</thead>
			<tbody>
			{{#each alternativesList}}
				<tr class="objectiveRow">
					<td class="col-md-1">Alt{{index}}</td>
					<td class="col-md-4">{{name}}</td>
					<td class="col-md-7">{{description}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</template>